    /* *** feuille de styles CSS index - projet Portfolio architecte Sophie Bluel-master - Loïc M pour OpenClassRoom *** */
/* *** ROOT - Variable CSS *** */
:root{
	--styles_css-projet-Portfolio-architecte-sophie-bluel-master-Loïc-M-pour-OpenClassRoom: #fe4164;
	--pimary-color: #1D6154;
	--secondary-color: #0E2F28;
	--tertiary-color: #B1663C;
	--background-color: #FFFEF8;
    --color-filtre-font: #FFFFFF;
	--shadow-color: rgba(0, 0, 0, 0.09);
}
/*Style CSS des boutons filtres*/
.filtres-active{
    display: flex;
 }
.filtres-non-active{
    display: none;
    visibility: hidden;
}
.filters{    
    justify-content: center;
    margin-bottom: 51px;
    gap: 10px;
}
.filter-item{
   color: var(--pimary-color);
    border: 1px solid var(--pimary-color);
    border-radius: 60px;
    padding: 9px 25px;
    font-family: 'Syne';
    font-weight: 700;
	font-size: 16px;
	color: var(--pimary-color);
}
/*Style CSS de bouton filtre selectionné*/
.filter-item__selected{
    background: var(--pimary-color);
    color: var(--color-filtre-font);
}
/*Style CSS option du sélecteur de la modale ajout photo*/
.option-categorie{
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #444444;
}