    /* *** feuille de styles CSS index - projet Portfolio architecte Sophie Bluel-master - Loïc M pour OpenClassRoom *** */
/* *** ROOT - Variable CSS *** */
:root{
	--styles_css-projet-Portfolio-architecte-sophie-bluel-master-Loïc-M-pour-OpenClassRoom: #fe4164;
	--background-color-bandeau: #000000;
    --font-color-button-publish: #000000;
    --background-button-publish: #FFFFFF;
    --font-color-contraste: #FFFFFF;
}
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
/***
 * Style CSS des liens de la barre de navigation
 */
#link-projets>a,
#link-contact>a,
#link-logout>a{
    width: 55px;
    height: 19px;
    margin-right: 25px;
    text-decoration: none;
    color: var(--font-color-button-publish);
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
 }
 #link-logout{
    color: var(--font-color-button-publish);
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 14px;    
 }
#link-instagram>img{
    width: 22px;
    height: 22px;
}
/***
 * Style CSS de la banière "Mode édition"
 */
.mode-edition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 59px;
    background-color: var(--background-color-bandeau);
    gap: 10px;
}
/***
 * Style CSS du contenue de la banière "Mode édition"
 */
.titre-mode-edition{
    display: flex;
    align-items: center;
    color: var(--font-color-contraste);
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.titre-mode-edition>img{
    margin-right: 10px;
}
.bouton-publier{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 38px;
    border-radius: 19px;
    background-color: var(--background-button-publish);
    color: var(--font-color-button-publish);
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 14px;   
}
/***
 * Style CSS des bouton modifier
 */
.bouton-mofifier{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 84px;
    height: 18px;
    gap: 10px;
    color: var(--font-color-button-publish);
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.bouton-mofifier>img{
    width: 18px !important;
}
/***
 * Style CSS du bouton modifié de la photo de profil
 */
.modification-photo-profils{
    display: inline-flex;
    margin-top: 15px;
}
/***
 * Style CSS du bouton modifié du texte du profil
 */
.modification-texte-profils{
    display: inline-flex;
    position: absolute;
    top: -45px;
    left: 0;
}
#introduction>article{
    position: relative;
    margin-left: 24px;
}
/***
 * Style CSS du bouton modifié mes projets
 */
 .modification-projets{
    display: inline-flex;
}