    /* *** feuille de styles CSS index - projet Portfolio architecte Sophie Bluel-master - Loïc M pour OpenClassRoom *** */
/* *** ROOT - Variable CSS *** */
:root{
	--styles_css-projet-Portfolio-architecte-sophie-bluel-master-Loïc-M-pour-OpenClassRoom: #fe4164;
	--pimary-color: #1D6154;
	--secondary-color: #0E2F28;
	--tertiary-color: #B1663C;
	--background-color: #FFFEF8;
    --background-color-modales: #FFFFFF;
    --background-color-chargement: #E8F1F6;
    --font-color-paragraphe: #000000;
    --font-color-suppresion: #D65353;
    --line-color: #B3B3B3;
	--shadow-color: rgba(0, 0, 0, 0.09);
}
/*Style CSS éléments commun des modales + modale galerie photo*/
#modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}  
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;  
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.overlay-off{
    display: none;
}
.overlay-On{
    visibility: visible;
}
#modale-gestion-galerie-photo,
#modale-gestion-ajout-photo{
    position: fixed;
	top: 95px;
	left: 28.82%;
    z-index: 10;
}
.modale{
    flex-direction: column;    
    background-color: var(--background-color-modales);
    border-radius: 10px;
    width: 630px;
    flex-shrink: 0;
    padding: 26px;;
}
.modales-non-active{
    display: none !important;
    visibility: hidden !important;
}
.modales-active{
    display: flex !important;
    visibility: visible !important;
}
.modale-gestion-galerie-photo{
    height: 731px;
 }
.modale-gestion-ajout-photo{
    height: 670px;
}
.modale-gestion-galerie-photo,
.modale-gestion-ajout-photo{
    align-items: center;
}
.navigation-modale-galerie-photo,
.navigation-modale-ajout-photo{
    display: flex;
    flex-direction: row;
    width: 100%;    
    height: 30px;
}
.navigation-modale-galerie-photo{
    justify-content: right;
}
.navigation-modale-galerie-photo>img{
    cursor: pointer;
}
.navigation-modale-ajout-photo{
    justify-content: space-between;
}
.navigation-modale-ajout-photo>img:first-of-type{
    width: 21px;
    height: 21px;
    cursor: pointer;
}
.navigation-modale-ajout-photo>img:last-of-type{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.modale-gestion-galerie-photo>p,
.modale-gestion-ajout-photo>p{
    color: var(--font-color-paragraphe);
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;    
}
.modale-gestion-galerie-photo>p{
    margin-bottom: 46px;
}
.modale-gestion-ajout-photo>p{
    margin-bottom: 36px;
}
.visuel-galerie-photos{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 9px;
    grid-row-gap: 15px;
    width: 420px;
    height: 433px;
    padding-bottom: 46px;
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 38px;
    overflow-y: auto;
}
.thumbs{
    width: 100%;
    height: 102.57px;
    object-fit: cover;
}
.position-icon{
    position: relative;
}
.icon-trash{
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url(../icons/trash.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.icon-move{
    position: absolute;
    left: 32.8px;
    top: 5px;
    z-index: 2;
    background-image: url(../icons/move.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}
#ajout-modale-galerie-photo{
    width: 237px;
}
.bouton-suppresion-galerie{
    width: 230px;
    height: 17px;
    color: var(--font-color-suppresion);
    font-family: Syne;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center; 
    margin-bottom: 71px;
    cursor: pointer;   
}
/*Style CSS modale ajout photo*/
.container-chargement-photo{
    position: relative;
    width: 420px;
    height: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    background-color: var(--background-color-chargement);
}
.container-chargement-photo-img{
    display: inline-flex;
    width: 58px;
    height: 58px;
    margin-top: 22px;
}
.bouton-ajouter-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBD6DC;
    margin-top: 15px;
    width: 173px;
    height: 36;
    border-radius: 50px;
    border: none;    
    color:#306685;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;    
}
.bouton-ajouter-photo>label{
    cursor: pointer;
}
#chargement-image{
    display: none;
}
.bouton-ajouter-photo>span{
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: #306685;
}
.container-chargement-photo-text{
    display: inline-flex;
    margin-top: 7px;
    font-family: 'Work Sans';
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #444444;
}
.container-chargement-photo-img-off,
.bouton-ajouter-photo-off,
.container-chargement-photo-text-off{
    /* display: none; */
    visibility: hidden !important;
}
.preview-thumb-no-active{
    /* display: none !important; */
    visibility: hidden !important;  
}
.preview-thumb-active{
    /* display: inline-flex; */
    visibility: visible !important;
    position: absolute;
    top: -12px;
    width: 129px;
    height: 193px;
    object-fit: cover;  
}
.formulaire-modale-ajout-photo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 420px;
    height: 222px;
    margin-top: 30px;
    border-bottom: solid 1px #B3B3B3;
}
.formulaire-modale-ajout-photo>label{
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #3D3D3D;
}
#titre,
#categorie{
    width: 420px;
    height: 51px;
    margin-top: 12px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
#titre{
    margin-bottom: 21px;
}
#categorie{
    margin-bottom: 53px;
}
#bouton-modale-ajout-photo{
    width: 237px !important;
    background-color: #A7A7A7;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    color: #FFFFFF;
}
.bouton-modale-ajout-photo-valided{
    background-color: var(--pimary-color) !important;
}