    /* *** feuille de styles CSS index - projet Portfolio architecte Sophie Bluel-master - Loïc M pour OpenClassRoom *** */
/* *** ROOT - Variable CSS *** */
:root{
	--styles_css-projet-Portfolio-architecte-sophie-bluel-master-Loïc-M-pour-OpenClassRoom: #fe4164;
	--pimary-color: #1D6154;
	--secondary-color: #0E2F28;
	--tertiary-color: #B1663C;
	--background-color: #FFFEF8;
	--shadow-color: rgba(0, 0, 0, 0.09);
}
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
/* Styles CSS page de Login */
.background-login{
	background-color: var(--background-color);
}
#connexion{
	width: 50%;
	margin: auto;
}
#connexion>*{
	text-align: center;
}
#connexion h1{
	margin-bottom: 20px;
}
#connexion h2{
	margin-top: 150px;
	margin-bottom: 37px;
}
#connexion form{
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
#connexion input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px var(--shadow-color);
	margin-bottom: 30px;
}
#connexion label{
	margin-bottom: 7px;
}
#login{	
	margin-top: 7px;
	margin-bottom: 28px;	
}
#reset-password{
	margin-bottom: 34.67%;
}
.nav-footer{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 60px;
}